<h1>Moove</h1>
<%= link_to "Offices", places_path %>

<%= form_tag places_path, method: :get do %>
  <span>I'm looking for a workplace in</span>
  <%= text_field_tag :queryCity,
    params[:queryCity],
    placeholder: "City"
  %><br />
  <span>for</span>
  <%= number_field_tag :queryMinCapacity,
    params[:queryMinCapacity],
    placeholder: "2"
  %><span> moove workers</span><br />
  <span>I'll arrive on </span>
  <%= date_field_tag :queryArriveDate,
    params[:queryDate],
    min: Date.tomorrow
  %><br />
  <span>and i'll leave on </span>
  <%= date_field_tag :queryLeaveDate,
    params[:queryLeaveDate],
    min: Date.tomorrow
  %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to "new place", new_place_path %>