<h1>Edit <%= @place.address %></h1>
<%= form_for(@place) do |f| %>
  <%= f.label 'Address' %>
  <%= f.text_field :address %><br />
  <%= f.label 'Renter' %>
  <%= f.text_field :renter %><br />
  <%= f.label 'City'%>
  <%= f.text_field :city %><br />
  <%= f.label 'Categories'%>
  <%= f.text_field :categories %><br />
  <%= f.label 'Tags'%>
  <%= f.text_field :tags %><br />
  <%= f.label 'Price per day (in €)'%>
  <%= f.number_field :price_per_day %><br />
  <%= f.label 'Size (in m²)'%>
  <%= f.number_field :size %><br />
  <%= submit_tag "Update this office" %>
<% end %>

<%= link_to 'Home', root_path %>
<%= link_to 'Delete this office', place_path(@place), method: :delete %>